In [2]:
import pandas as pd

In [6]:
d = pd.DataFrame.from_csv('partial_datacsv.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2802: DtypeWarning: Columns (5,205,206,256) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

In [8]:
d.head(50)

,encounter_id,time,loc_cat,unit1,unit2,IVF_meds,IVF_volume,IV_intake,avpu,avpu_old,...,gcs_score_sofa,creatinine_sofa,sofa_resp,sofa_coag,sofa_bili,sofa_card,sofa_gcs,sofa_cr,sofa_score,immuno_group
patient_id,,,,,,,,,,,,,,,,,,,,,
155043,155164,25apr2013 22:36:00,WARD,T3SW,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 17:00:00,WARD,TS356 (room 117),NaN,NaN,100.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 05:18:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 14:32:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 02:49:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 23:37:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 06:00:00,WARD,TS356 (room 117),NaN,NaN,210.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 05:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,25apr2013 23:01:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 12:45:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 14:00:00,WARD,TS356 (room 117),NaN,NaN,100.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,27apr2013 11:36:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 01:00:00,WARD,TS356 (room 117),NaN,NaN,168.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 09:46:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 04:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 03:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 04:04:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 12:46:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 23:56:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 08:00:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,0.0,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 00:04:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 19:49:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 06:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 18:00:00,WARD,TS356 (room 117),NaN,NaN,100.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 20:00:00,WARD,TS356 (room 117),NaN,NaN,42.0,NaN,0.0,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 11:22:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,1.0,1.0,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 13:15:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 08:00:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,0.0,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 00:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 04:36:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 12:07:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 16:00:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 01:04:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 02:00:00,WARD,TS356 (room 117),NaN,NaN,0.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 19:00:00,WARD,TS356 (room 117),NaN,NaN,42.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 15:00:00,WARD,TS356 (room 117),NaN,NaN,100.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 13:00:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 07:00:00,WARD,TS356 (room 117),NaN,NaN,500.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 00:21:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 11:27:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,1,0,5,0
155043,155164,26apr2013 21:00:00,WARD,TS356 (room 117),NaN,NaN,42.0,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,26apr2013 00:00:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,0.0,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 11:00:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
155043,155164,27apr2013 15:27:00,WARD,TS356 (room 117),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.9,4,0,0,0,0,0,4,0
1399257,1214909,28dec2015 08:00:00,WARD,TS312 (room 106),NaN,NaN,NaN,NaN,0.0,NaN,...,15,0.7,4,0,0,0,0,0,4,0
1399257,1214909,28dec2015 04:00:00,WARD,TS312 (room 106),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.6,4,0,0,1,0,0,5,0
1399257,1214909,28dec2015 00:00:00,WARD,TS312 (room 106),NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.6,4,0,0,0,0,0,4,0
1399257,1214909,28dec2015 07:28:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.7,4,0,0,0,0,0,4,0
1399257,1214909,28dec2015 09:15:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.7,4,0,0,0,0,0,4,0
1399257,1214909,27dec2015 22:06:00,WARD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,0.6,4,0,0,0,0,0,4,0

In [12]:
d.describe()

,encounter_id,IVF_meds,IVF_volume,IV_intake,avpu,avpu_old,dbp,fio2,fio2_vent,gastric_output,...,gcs_score_sofa,creatinine_sofa,sofa_resp,sofa_coag,sofa_bili,sofa_card,sofa_gcs,sofa_cr,sofa_score,immuno_group
count,1.693470e+05,10181.000000,11.000000,0.0,13835.000000,12601.000000,60096.000000,8744.000000,5940.000000,1143.000000,...,169347.000000,169347.000000,169347.0,169347.000000,169347.000000,169347.000000,169347.000000,169347.000000,169347.000000,169347.000000
mean,2.408889e+06,117.301304,127.636364,NaN,0.467293,0.462662,69.027506,54.214547,55.070202,139.354331,...,14.265006,1.612851,4.0,0.465594,0.384648,0.113093,0.386532,0.788110,6.137977,0.484868
std,1.353585e+05,513.899268,137.264178,NaN,0.721024,0.697995,15.640930,20.542531,28.311403,240.651275,...,1.971178,1.619251,0.0,0.949022,0.858113,0.316708,0.756012,1.118871,2.416750,0.499772
min,1.551640e+05,0.000000,0.000000,NaN,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,...,3.000000,0.100000,4.0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000
25%,2.310390e+06,50.000000,42.000000,NaN,0.000000,0.000000,59.000000,40.000000,40.000000,0.000000,...,14.000000,0.700000,4.0,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000
50%,2.358583e+06,90.000000,100.000000,NaN,0.000000,0.000000,68.000000,50.000000,50.000000,50.000000,...,15.000000,1.100000,4.0,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000
75%,2.530717e+06,125.000000,134.000000,NaN,1.000000,1.000000,79.000000,60.000000,60.000000,180.000000,...,15.000000,1.800000,4.0,0.000000,0.000000,0.000000,1.000000,1.000000,7.000000,1.000000
max,2.669231e+06,51000.000000,500.000000,NaN,3.000000,3.000000,226.000000,100.000000,690.000000,1800.000000,...,15.000000,23.299999,4.0,4.000000,4.000000,1.000000,4.000000,4.000000,17.000000,1.000000